# requirements.txt
fastapi
uvicorn[standard]
pydantic
# ORM (SQLAlchemy)
sqlalchemy
# Celery e Redis para agendamento
celery
redis
celery[redis]
# Canais de comunicação
twilio
# Utilitários
python-multipart
python-dotenv
